.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  border-radius: 25px;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #0667c2;
  cursor: pointer;
}

/* Remove margins and padding from the list. */
#myUL {
  margin: 0;
  padding: 0;
}

/* Style the list items. */
#myUL li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #7194c5;
  font-size: 18px;
  transition: 0.2s;
  border-radius: 10px;
  /* li items select none. */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes). */
#myUL li:nth-child(odd) {
  background: #607a9d;
}

/* Darker background-color on hover. */
#myUL li:hover {
  background: #4e637e;
}

/* When clicked on, add a background color and strike out text. */
#myUL li.checked {
  background: #666;
  text-decoration: line-through;
}

#myUL li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the input. */
#myInput {
  margin: 0;
  border: none;
  border-radius: 10px;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button. */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10px;
}

.addBtn:hover {
  background-color: #bbb;
}

/* Style the close button. */
.close {
  position: absolute;
  border-radius: 10px;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #af3128;
  color: white;
}

/* Use better box-sizing on every element. */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.25;
}

/* Demo content. */
main {
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  position: sticky;
  top: 0;
  background-color: #4f709c;
  padding: 1rem;
}

/* Style the header "buttons". */
.header a {
  display: inline-flex;
  color: #f0f0f0;
  padding: 0.75rem;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 4px;
  vertical-align: middle;
}

.header a.logo {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0;
  margin-right: 1rem;
}

/* Change the text color on mouse-over. */
.header a:hover {
  color: #e5d283;
}

#title {
  display: inline-block;
  margin: 0;
  font-size: 2rem;
  color: #f0f0f0;
  vertical-align: middle;
}

/* Style the active/current "button". */
.active {
  background-color: #213555;
}

/* Demo navigation list. */
.header nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.medium-image {
  display: inline;
  height: 10em;
  margin: 1.5em;
  border: 2px solid #4f709c;
  border-radius: 5px;
}

.dog-image {
  display: block;
  height: 16em;
  margin: 1.5em auto;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 10px 15px 15px #505050;
}

#dogButton {
  background-color: #86a789;
  transition: background-color 0.1s;
}

#dogButton:active {
  background-color: #b0d9b1;
}

/* Adding animation to image when clicking the image. */
.medium-image:active {
  animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Spinning animation. */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

hr.solid {
  border-top: 3px solid #213555;
}

@media (min-width: 500px) {
  /* Make the header horizontal on desktop. */
  .header {
    flex-direction: row;
  }
}

/* Default div box style. */
.container {
  color: white;
  background-color: #4f709c;
  width: 50%;
  display: block;
  align-items: center;
  margin: auto;
  text-align: center;
  padding: 2em;
  border-radius: 5px;
  box-shadow: 10px 15px 15px #505050;
}

.container h1 {
  font-size: 3em;
  text-shadow: 3px 3px 3px #505050;
}

#stopwatch {
  font-size: 5em;
}

button {
  font-size: 1.5em;
  padding: 0.5em;
  padding: 0.5em 2em 0.5em 2em;
  margin: 1em;
  border-radius: 0.5rem;
}

div.video {
  display: inline-block;
  background-color: #4f709c;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 1em 1em 1em #505050;
}

h2.video_header {
  text-align: center;
  margin: 1em;
  padding: 0.1em;
  color: white;
  width: 6em;
  background-color: #213555;
  border-radius: 5px;
  box-shadow: 0.1em 0.1em 0.1em #505050;
}

#counter {
  font-size: 4em;
  font-family: "Press Start 2P";
  background-color: #213555;
  border-radius: 5px;
}

.counter_container {
  color: white;
  background-color: #4f709c;
  width: 60%;
  display: block;
  align-items: center;
  margin: auto;
  text-align: center;
  padding: 2em;
  border-radius: 5px;
  box-shadow: 10px 15px 15px #505050;
}

#increaseButton {
  background-color: #86a789;
  transition: background-color 0.1s;
}

#increaseButton:active {
  background-color: #b0d9b1;
}

#decreaseButton {
  background-color: #f78ca2;
  transition: background-color 0.1s;
}

#decreaseButton:active {
  background-color: #fa003f;
}

#resetCounterButton {
  background-color: white;
  transition: background-color 0.1s;
}

#resetCounterButton:active {
  background-color: #909090;
}

#menu {
  cursor: pointer;
}

nav {
  position: relative;
}

nav > ul {
  display: block;
  position: absolute;
  right: 0;
  top: 3.5rem;
  background-color: #4f709c;
  padding: 1rem;
  min-width: 15rem;
  border-radius: 0.5rem;
  box-shadow: 10px 15px 15px #505050;
  border: 2px solid #213555;
  opacity: 0;
  transition: opacity 0.2s;
}

nav > ul > li,
nav > ul > li > a {
  width: 100%;
}

footer {
  text-align: center;
  margin: 1rem 0;
}

#madeby {
  margin-bottom: 1rem;
  font-weight: bold;
  text-align: right;
}

#madeby::before {
  content: "Made by: ";
  font-weight: normal;
}
