/* Use better box-sizing on every element. */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.25;
}

/* Demo content. */
main {
  padding: 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  position: sticky;
  top: 0;
  background-color: #4f709c;
  padding: 1rem;
}

/* Style the header "buttons". */
.header a {
  display: inline-flex;
  color: #f0f0f0;
  padding: 0.75rem;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 4px;
  vertical-align: middle;
}

.header a.logo {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0;
  margin-right: 1rem;
}

/* Change the text color on mouse-over. */
.header a:hover {
  color: #e5d283;
}

#title {
  display: inline-block;
  margin: 0;
  font-size: 2rem;
  color: #f0f0f0;
  vertical-align: middle;
}

/* Style the active/current "button". */
.active {
  background-color: #213555;
}

/* Demo navigation list. */
.header nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.medium-image {
  display: inline;
  height: 10em;
  margin: 1.5em;
  border: 2px solid #4f709c;
  border-radius: 5px;
}

/* Adding animation to image when clicking the image */
.medium-image:active {
  animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Spinning animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

hr.solid {
  border-top: 3px solid #213555;
}

@media (min-width: 500px) {
  /* Make the header horizontal on desktop. */
  .header {
    flex-direction: row;
  }
}

/* Stopwatch styling */
.stopwatch {
  color: white;
  background-color: #4f709c;
  width: 50%;
  display: block;
  align-items: center;
  margin: auto;
  text-align: center;
  padding: 2em;
  border-radius: 5px;
  box-shadow: 10px 15px 15px #505050;
}

.stopwatch h1 {
  font-size: 3em;
  text-shadow: 3px 3px 3px #505050;
}

#stopwatch {
  font-size: 5em;
}

#startStopButton {
  font-size: 1.5em;
  padding: 0.5em;
  padding: 0.5em 2em 0.5em 2em;
  margin: 1em;
  border-radius: 5px;
}

#resetButton {
  font-size: 1.5em;
  padding: 0.5em;
  padding: 0.5em 2em 0.5em 2em;
  margin: 1em;
  border-radius: 5px;
}
