/* Remove margins and padding from the list */
#myUL {
  margin: 0;
  padding: 0;
}

/* Style the list items */
#myUL li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #7194c5;
  font-size: 18px;
  transition: 0.2s;
}
/* Set all odd list items to a different color (zebra-stripes) */
#myUL li:nth-child(odd) {
  background: #607a9d;
}

/* Darker background-color on hover */
#myUL li:hover {
  background: #4e637e;
}
